/*整体框架*/
#topNav{width: 100%;min-width: 1306px; height: 41px;margin: 0px auto;background-image:url("css/images/01.png");}
#header{width: 100%;min-width: 1306px;height: 95px;margin: 0px auto;background-image:url("css/images/luxury_repeat.png");background-position: 0px -45px;}
#mainNav{width: 100%;min-width: 1306px;height: 35px;margin: 0px auto;background-color:#f5ebd9;}
#guanggao{width: 1000px;height: 402px;margin: 15px auto;}
#Content{width: 1000px;height: 544px;margin: 15px auto;}
#Pic{width: 1000px;height: 259px;border: 1px solid #ccc;margin: 15px auto;}
#footer{width: 1000px;height: 12px;margin: 20px auto;text-align: center;}

/*导航条1*/
.topNavLeft{width: 800px;height: 37px;}
.topNavRight{width: 150px;height: 37px;float: right;margin-right: 140px;margin-top: -37px;}
.topNavLeft ul{margin-left: 165px;}
.topNavLeft li{float: left;width: 55px;height: 37px; }
.topNLSpecil{width: 69px;height: 37px;background-color: #d2272a;text-align: center;margin-right: 10px;}
.topNavLeft a{font-size: 14px;color: #cfcfcf;text-decoration: none;line-height: 37px;}
.topNavLeft a:hover{color: #f90;}
.topNavRight li{float: left;color: #cfcfcf;padding-right: 10px;}
.fuhao{color: #cfcfcf;padding-top: 12px;}
.topNavRight a{text-decoration: none;line-height: 37px;color: #cfcfcf;}

/*搜索栏*/
.headerMid{width: 1000px;height: 95px;margin: 0px auto;}
.logo{width: 206px;height: 72px;padding-top: 20px;float: left;margin-right: 88px;}
.search{width: 402px;height: 33px;float: left;margin-top: 35px;}
.seach-txt{width: 316px;height: 33px;background-image: url("css/images/02.png");background-repeat: no-repeat;float: left;padding-left: 30px; }
.searchpic1{background-image: url("css/images/02.png");background-position: -231px -263px;float:left; ;width: 86px;height: 33px;}


/*广告flash*/
#guanggaoPic{width: 1000px;height: 400px;position: relative;background-image: url("images/1.jpg");}
 #contralA{width: 150px;height:10px;padding: 10px; position: absolute;left:840px;top:380px; }
 .flashContral{width: 20px;height: 10px;border:1px solid #ddd;float: left;display: block; background-color: #ccc;margin:0 5px 0 0; }
 .currentSpan{background-color:white;border:1px solid white;}
/*导航条2*/
.mainNavMid{width: 1000px;height: 35px;margin: 0px auto;}
.mainNavLeft{width: 600px;height: 33px;float: left;}
.mainNavLeft li{float: left;width: 55px;height: 37px;padding-right: 20px;}
.mainSS{background-color:#6c4c22 ;margin-right: 15px;text-align: center;border-top-left-radius:3px;font-weight: bold; border-top-right-radius: 3px;text-align: center;}
.mainSS a{color: white;font-size: 14px;text-decoration: none; line-height: 32px;}
.mainNLSpecil{width: 60px;height: 35px;margin-right: 10px;color: #cfcfcf; }

.mainNLSpecil a{font-size: 14px;text-decoration: none;color: #8b8378; line-height: 32px;text-align: center;font-weight: bold;}
.mainNLSpecil a:hover{color: #A34F1D;}

.mainNavRight{float: right;width: 170px;height: 18px;padding-top: 8px;}
.mainNavRight li{float:left;padding-right: 12px;}
.mainNR1{color: #a34f1d;font-weight: bold;}
.fuhao1{color: #d5c5b1;}
.mainNR2 a{color: #333;text-decoration: none;}
.mainNR2 a:hover{color: #a34f1d;}

/*热门品牌*/
.ContentLeft{width: 726px;height: 544px;float: left;}
.ContentRight{width: 260px;height: 540px;float: right;border:1px solid #ddd;}
.popular{width: 726px;height: 313px;border:1px solid #ddd;}
.Area{width: 726px;height: 210px;border:1px solid #ddd;margin-top: 15px;background-color: #f8f8f8;}
.Sale{width: 258px;height: 43px;}
.Sale  h1{width: 130px;height: 27px; background-image: url("css/images/02.png");background-position: 0px -573px;margin-top: 14px;margin-left: 20px;}
.salePic1{margin:0px 4px 8px 5px;}
.salePic2{margin-left: 5px;margin-right: 4px;}
.poplogo{width: 724px;height: 42px;}
.poplogo h2{width: 144px;height: 27;float: left; background-image: url("css/images/02.png");background-position: 0px -245px;margin-left: 15px;margin-top: 5px;}
.pop-index{width: 400px;height: 18px;float: left;margin-top:10px; }
.pop-index a{text-decoration: none;color: #333;padding-right: 3px; }
.pop-index a:hover{color:#a34f1d;}
.more{width: 38px;height: 12px;float: right;margin-top:15px;margin-right: 20px;}
.more a{color: #5f2423;text-decoration: none;}
.blank{width: 674px;height: 264px;margin-left: 30px;margin-top: 5px;}
.blank li{float: left;margin-right: 25px;}
.blankPic{width: 107px;height: 57px;border:1px solid #ccc;}
.blankname a{text-decoration: none;color: #000;line-height: 30px;margin-left: 30px;}
.blankname a:hover{color:#a34f1d;}


.women{width: 362px;height: 182px;border-right: 1px solid #ddd;margin-top: 15px;float: left;margin-left: 15px;}
.women h2{width: 126px;height: 27px; background-image: url("css/images/02.png");background-position: 0px -278px;}
.womenList{width: 325px;height: 140px;margin-left: 15px;}
.men{width: 336px;height: 182px;float: right;margin-top: 15px;}
.men h2{width: 126px;height: 27; background-image: url("css/images/02.png");background-position: 0px -310px;}
.womenList li{float: left;color: #a34f1d;font-weight: bold;line-height: 20px;text-decoration: none;padding-right: 10px;}
.womenList span{color: #333;}
.womenLSpecial{color: #333;text-decoration: none;font-weight: normal;}
.womenLSpecial:hover{color: #a34f1d;}
.womenList ul{width: 320px;height: 20px;margin-top: 10px;}
/*精品推荐*/
.pic1{width: 998px;height: 42px;}
.pic1 h2{width: 164px;height: 27px; background-image: url("css/images/02.png");background-position: 0px -609px;margin-top: 15px;margin-left: 15px;}
.pic2 {width: 980px;height: 205px;margin-left: 15px;}
.pic21{width: 30px;height: 30px;float: left;background-image: url("css/images/02.png");background-position: 0px -787px;margin-top: 85px;}
.pic23{width: 30px;height: 30px;float: right;background-image: url("css/images/02.png");background-position: -90px -787px;margin-top: 85px;}
.pic22{width: 920px;height: 205px;float: left;position: relative;}
.listcont{width: 920px;height: 190px;}
.listcont1{width: 920px;height: 190px;position: absolute;top: 0px; display: none;}
.product_item{float: left;position: relative;width: 182px;height: 187px;padding-top: 10px;}
.product_item img{margin-top: 20px;width: 135px;height: 135px;}
.product_item:hover{border: 1px solid #ccc;}
.info{bottom: 0;position: absolute;width: 170px;height: 62px;display:none;background:#444444;margin-left: 5px;margin-bottom: 5px;}
.info span{color: darkGray;font-weight: bold;text-decoration: line-through;margin-right: 8px;}
.info strong{color: #a34f1d;}
.info a{color: white;font-size: 12px;text-decoration: none;font-weight: normal;}