#QQ{width: 280px;height: 580px;margin-left: 200px;float: left; position: relative;}
.disnone{display: none;}
/*个人信息*/
#MyInfo{width: 280px;height: 75px;padding: 2px 20px 2px 20px;}
#MyInfoA{width: 240px;height: 46px;}
#icon_list{height: 15px;margin-top: 6px;line-height: 22px;}
.MyHeader{width: 40px;height: 40px;position: relative;display: block;float:left; background-image: url("images/g.jpg");box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;border: 3px solid #fff;}
#SZIconnone{position: absolute;left:30px;top:28px;}
.onlineIcon{float: left;display: block;width: 10px;height: 10px;background-image: url("css/images/state_sprite.gif");margin-right: 2px;margin-top: 2px;}


.MyInfoRight{width: 180px;height: 46px;display: block;float: right;}
.MyNickName{width: 180px;height: 22px;text-shadow:0 0 3px snow,0 0 3px snow,0 0 3px snow,0 0 3px snow;font-size: 15px;}
.Myshuoshuo{width: 180px;height: 22px;margin-top: 2px;display: block;text-shadow:0 0 3px snow,0 0 3px snow,0 0 3px snow,0 0 3px snow;}
.iconA{width: 15px;height: 15px;display: block;background-image: url("css/images/icons_list.png");float: left;margin-right: 6px;line-height: 22px;}
.icon01{background-position: 0 -1px;}
.icon02{background-position:-20px -1px;}
.icon03{background-position:-40px -1px;}
.icon04{background-position:-60px -1px;}
.icon05{background-position:-81px -1px;}
.icon06{background-position:-103px -1px;}
.icon07{background-position:-122px -1px;}
.icon08{background-position:-144px -1px;}
.icon09{background-position:-166px -1px;}

/*会话列表*/


#FriendArea{width: 280px;height: 500px;border-radius: 7px;box-shadow: 2px 2px 6px rgba(0,0,0,0.7);background-color: #fff;}
.FriendA{width: 280px;height: 450px;}
#FAFooter{width: 280px;height: 50px;display: block;background-image: linear-gradient(#555, #222);border-bottom-right-radius: 6px 6px;}
.FAFLi{width: 68px;height: 50px;cursor: pointer;border-right: 1px solid #222;float: left;} 
.FAFLiLeft{border-left: 0;} 
.FAFLiRight{border-right: 0;}

.FAFChangeColor{background-color: #333;}
.FAFPic{display: block;width: 34px;height: 34px;margin: 0 17px 0 17px;}
.FAFPic01{background-image: url("css/images/huihua.png"); background-size: 34px 34px;}
.FAFPic02{background-image: url("css/images/lianxiren.png"); background-size: 34px 34px;}
.FAFPic03{background-image: url("css/images/faxian.png"); background-size: 34px 34px;}
.FAFPic04{background-image: url("css/images/shezhi.png"); background-size: 34px 34px;}
.FAFP01{background-image: url("css/images/huihuaB.png"); background-size: 34px 34px;}
.FAFP02{background-image: url("css/images/lianxirenB.png"); background-size: 34px 34px;}
.FAFP03{background-image: url("css/images/faxianB.png"); background-size: 34px 34px;}
.FAFP04{background-image: url("css/images/shezhiB.png"); background-size: 34px 34px;}
.FAFWord{display: block;height: 12px;color: #ccc;font-size: 12px;text-align: center;;font-family: "微软雅黑";line-height: 12px;}
.chatA{ width: 261px; height: 57px; padding: 2px 1px 2px 1px;background-image: linear-gradient(#FFF, #F1F1F1); cursor: pointer;}
.chatAHeader{ width: 40px; height: 40px; margin: 8px 8px 8px 8px;  background-size: 40px 40px; display: block; float: left;}
#Friend01{background-image: url("images/g (5).jpg");background-size: 40px 40px; }
#Friend02{background-image: url("images/g (6).jpg");background-size: 40px 40px; }
#Friend03{background-image: url("images/g (7).jpg");background-size: 40px 40px; }
#Friend04{background-image: url("images/g (8).jpg");background-size: 40px 40px; }
#Friend05{background-image: url("images/g (9).jpg");background-size: 40px 40px; }
#Friend06{background-image: url("images/g (10).jpg");background-size: 40px 40px; }
#Friend07{background-image: url("images/g (11).jpg");background-size: 40px 40px; }
#Friend08{background-image: url("images/g (12).jpg");background-size: 40px 40px; }


.FATop{width: 230px;height: 19px;background-image: linear-gradient(#555, #222);font-size: 18px;color: #fff;text-align: center; padding: 13px 30px 13px 20px;font-family: "微软雅黑";}
.FAContent{width: 280px;height: 405px;overflow: auto;}
.chatA{width: 261px;height: 57px;padding: 2px 1px 2px 1px;background-image: linear-gradient(#FFF, #F1F1F1);cursor: pointer;}
.chatHeader{width: 40px;height: 40px;margin: 8px;background-size: 40px 40px;display: block;float: left;}
.chatRight{width: 200px;height: 57px;float: left;}
.chatName{display: inline-block;;height: 22px;padding: 4px 0 0 6px;font-family: "微软雅黑";line-height: 23px;font-size: 16px;font-weight: 400;}
.chatNameA{display: inline-block;padding: 4px 0 0 2px;line-height: 23px;color: #aaa;}
.chatInfo{display: block;width: 200px;height: 23px;padding: 4px 0 4px 6px;line-height: 23px;color: #aaa;float: left;overflow: hidden;}

/*发现*/
.FXContent{width: 280px;height: 93px;display: block;}
.FXCLi{float: left;border:1px solid #eceef2;border-bottom-color: #c1c7d2;border-right-color: #c1c7d2;display: block;width: 91px;height: 93px;background-image: linear-gradient(rgb(231, 232, 235), rgb(218, 219, 224) 50%, rgb(199, 203, 210) 75%, rgb(211, 214, 219) 95%, rgb(211, 214, 221));background-color: rgb(218, 219, 224);}
.FXCLiPic{width: 54px;height: 54px;margin: 8px 20px 4px 20px;display: block;}
.FXCLiPic01{background-image: url("css/images/plugin_icon_qzone.jpg");background-size: 54px 54px;}
.FXCLiWord{text-align: center;display: block;font-size: 13px;height: 19px;line-height: 19px;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.FXCLiPic02{background-image: url("css/images/plugin_icon_qmail.jpg");background-size: 54px 54px;}
.FXCLiPic03{background-image: url("css/images/plugin_icon_qq_portal.png");background-size: 54px 54px;}


/*设置*/
.group{padding: 10px;cursor: pointer;}
.SZkuang{border: 1px solid #afc8e2;border-radius: 5px;width: 238px;padding:10px; }
.SZMyInfo{height: 58px;}
.SZHeader{width: 56px;height: 58px;float: left;}
.SZHeader a{width: 40px;height: 40px;margin: 8px;display: block;}
.SZMImid{width: 150px;height: 45px;padding: 5px 0 0 3px;float: left;}
.SZNickName{width: 153px;height: 31px;display: block;line-height: 31px;font-size: 22px;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.SZNumber{width: 153px;height: 14px;line-height: 14px;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.onlineState{width: 22px;height: 20px;margin: 30px 0 0 0;float: left;cursor: pointer;position: relative;}
.onlineIcon{float: left;display: block;width: 10px;height: 10px;background-image: url("css/images/state_sprite.gif");margin-right: 2px;margin-top: 2px;}
.onlineTip{float: left;display: block;width: 10px;height: 10px; background-image: url("css/images/state_sprite.gif");background-position: -163px 4px;}
.OSList{display: none; background-color: #fff;width:72px;height: 156px;border: 1px solid #000;position: absolute;left: -45px;top: 20px;}
.OSLi{padding: 5px 3px 5px 3px;height: 12px;line-height: 12px;}
.OSLWord{height: 12px;line-height: 12px;font-family:微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.SZIcon02{background-position: -71px 0;}
.SZIcon03{background-position: -18px 0;}
.SZIcon04{background-position: -36px 0;}
.SZIcon05{background-position: -108px 0;}
.SZIcon06{background-position: -54px 0;}
.SZIcon07{background-position: -90px 0;}
.SZshuoshuo{height: 22px;}
.lable01{color: #666;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;height: 16px;font-size: 16px; line-height: 16px;}
.lable02{font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;height: 16px;line-height: 16px;font-size: 16px;}
.SZqita{height: 16px;}
.more_icon{width: 16px;height: 16px;display: block;background-image: url("css/images/more_icon.png");background-size: 100% 100%;float: right;}
.loginout{display: block;font-size: 16px;line-height: 16px;text-align: center;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;background: linear-gradient(#f74634,#ce2715)!important;text-shadow:0 0 10px #969696;color: #fff;}


/*联系人*/
.LXRChatKind{ width: 280px ; height: 35px; cursor: pointer;}
.LXRChatKindLi{display: block; width: 93px; height: 16px; float: left; padding: 10px 0 10px 0; border-bottom: 2px solid #ccc;}
.LXRChatKindLA{display: block; font-family: 微软雅黑; line-height: 16px;border-right: 1px solid #d8d8d8; display: block;  width: 93px; height: 16px; text-align: center; font-size: 16px;}

.LXRfriend{}
.LXRqun{ width: 94px;}
.LXRtalk a{ border-right: 0;}

.LXRList{ width: 100%; height: 370px; overflow-y: auto;overflow-x :hidden;}
.LXRLi{ width: 100%; min-height: 40px; border-bottom: 1px solid #CCC; margin-top: 2px;}
.LXRLiA{ width: 240px; height: 20px; display: block; padding: 10px 28px 10px 10px; cursor: pointer; }
.LXRLiPic{margin-top: 4px; width: 14px; height: 14px;display: block; background-image: url("css/images/open_arrow.png"); background-size: 14px 14px; background-repeat: no-repeat; float: left;}
.LXRGroupName{ float: left; color: #000; padding-left: 4px; font-size: 16px;display: inline-block; font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.LXRGroupNum{ float: right; color: gray; font-size: 12px;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.LXRLiDes{ width: 100%; height: auto; display: none;}
.LXRLiDesA{ width: 100%; height: 56px; background-color: #F5F5F5; border:1px solid #e3e3e3; border-bottom: 0; margin-top: 2px; background-image: linear-gradient(#F5F5F5, #F5F5F5);}



.LXRChatKindSpe{ color: #0AA7FF; border-bottom: 2px solid #0AA7FF;}


/*群*/
.LXRqunLi{ width: 262px; height: 41px;border-color: #CCC; border-bottom: 1px solid #CCC; background-color: #F5F5F5; padding: 8px;}
.LXRqunPic{ display: block; width: 40px; height: 40px; background-image: url("images/qunHeader.jpg"); float: left;}
.LXRqunLi span{font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 16px; float: left; padding: 4px 0 0 12px;}
.LXRTalkPic{display: block; width: 40px; height: 40px; background-image: url("images/discu_avatar.png"); background-repeat: no-repeat; background-size: 40px 40px; float: left;}
#chatAllArea{width: 860px;height: 620px;float:left;}