#QQ{width: 280px;height: 580px;margin-left: 200px;}
/*个人信息*/
#MyInfo{width: 280px;height: 75px;padding: 2px 20px 2px 20px;}
#MyInfoA{width: 240px;height: 46px;}
#icon_list{height: 15px;margin-top: 6px;line-height: 22px;}
.MyHeader{width: 40px;height: 40px;position: relative;display: block;float:left; background-image: url("images/g (1).jpg");box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;}
.MyInfoRight{width: 180px;height: 46px;display: block;float: right;}
.MyNickName{width: 180px;height: 22px;text-shadow:0 0 3px snow,0 0 3px snow,0 0 3px snow,0 0 3px snow;font-size: 15px;}
.Myshuoshuo{width: 180px;height: 22px;margin-top: 2px;display: block;text-shadow:0 0 3px snow,0 0 3px snow,0 0 3px snow,0 0 3px snow;}
.iconA{width: 15px;height: 15px;display: block;background-image: url("css/images/icons_list.png");float: left;margin-right: 6px;line-height: 22px;}
.icon01{background-position: 0 -1px;}
.icon02{background-position:-20px -1px;}
.icon03{background-position:-40px -1px;}
.icon04{background-position:-60px -1px;}
.icon05{background-position:-81px -1px;}
.icon06{background-position:-103px -1px;}
.icon07{background-position:-122px -1px;}
.icon08{background-position:-144px -1px;}
.icon09{background-position:-166px -1px;}

/*好友列表*/
#FriendArea{width: 280px;height: 500px;border-radius: 7px;box-shadow: 2px 2px 6px rgba(0,0,0,0.7);}
.FriendA{width: 280px;height: 450px;}
#FAFooter{width: 280px;height: 50px;display: block;background-image: linear-gradient(#555, #222);border-bottom-right-radius: 6px 6px;}
.FAFLi{width: 68px;height: 50px;cursor: pointer;border-right: 1px solid #222;float: left;} 
.FAFLiLeft{} 
.FAF01{}
.FAFChangeColor{}