*{margin:0;padding: 0;}
body{ width: 99%;height:100%;  font-size: 12px; font-family: Arial;background-image: url("../images/bg.jpg");background-repeat: no-repeat;}
ul,li{list-style: none;padding: 0;}
img{border: 0;}