/*整体结构*/
#anony-nav{width: 950px;height: 34px;margin: 30px auto;}
#anony-login{width: 1308px;height: 91px;margin: 30px auto;background-color: #e8edf1;}
#anony-sns{width: 950px;height: 571px;margin: 30px auto;}
#anony-dongxi{width: 1308px;height: 765px;background-color: #f7f7f7;}
#anony-movie{width: 1308px;height: 586px;margin: 30px auto;}
#anony-book{width: 1308px;height: 655px;margin: 30px auto;background-color: #f7f7f7;}
#anony-music{width: 1308px;height: 577px;margin: 30px auto;}
#AdvertiseMent{width: 950px;height: 90px;margin: 0px auto;background-image: url("images/5b8b1c91be6e2a6.jpg");}
#anony-group{width: 1308px;height: 614px;margin: 30px auto;background-color: #f7f7f7;}
#anony-events{width: 1308px;height: 339px;margin: 30px auto;}
#footer{width: 950px;height: 231px;margin: 30px auto;}

/*搜索区*/
.logo{width: 180px;height: 34px;float: left;}
.search{width: 272px;height:32px;border: 1px solid #c3c3c3; display: inline-block;}
.search input{border: 0px;}
.dbText{width: 240px;height: 20px;font-size: 12px;color:#999;margin-top: 5px;text-align: start;padding-left: 5px;}
.bn{background-image: url("css/image/bn_srh_1.png");background-position: 0px; float: right;width: 13px;height: 14px;overflow: hidden;margin-top: 10px;margin-right: 10px;}
.links{width: 460px;height: 21px;float: right;margin-top: 5px;padding-left: 10px;}
/*Login*/
#loginMid{width: 950px;height: 90px;border: 1px solid #e8edf1;margin: 0px auto;}
.loginLeft{width: 500px;height:36px;margin-top: 20px;}
.loginRight{width: 400px;height: 59px;float: right;margin-top: -40px;}
.lnk{width: 120px;height: 36px;background: #ef7360;border-radius: 3px 3px 3px 3px;}
.lnk span{font-size: 12px;color:#fff;padding-left: 5px;}
.lnk-reg{font-size: 14px;color:#fff;text-decoration: none;line-height: 30px;margin-left: 15px;}
.nb-info{display: inline-block;margin-left: 150px;margin-top: -25px;}
.nb-info span{font-size: 16px;color: #666;}
.loginName{width: 155px;height: 59px;float: left;}
.loginPasswd{width: 155px;height: 59px;margin-left: 161px;}
.loginbutton{width: 77px;height: 33px;border: 1px solid #ccc;float: right; margin-top: -60px;background-color: #3ba354; }
.loginbutton a{font-size: 12px;color: white;text-decoration: none;padding-left:25px;line-height: 30px;}
.loginbutton:hover{background-color:#1c9439;}
.loginKuang{width: 155px;height: 33px;border: 1px solid #ccc;background-color: white;}
.lgText{font-size: 12px;color:#999;margin-top: 5px;text-align: start;padding-left: 10px;}
.lgText span{font-size: 12px;color:#fff;padding-left: 5px;}
.loginKuang input{border: 0px;}
.opt{width: 158px;height: 20px;padding-top: 5px;}
.optname{font-size:12px;text-decoration: none;color:#37a; }
.optname:hover{background-color: #37a;color: white;}
.opt input{margin-right: 5px;}
/*热点内容*/
#tupian{width: 950;height: 95px;}
#anony-sns-Content{width: 950px;height: 476px;}

#main{width: 655px;float: left;}
#side{width: 265px;float: right;}

h2{font-size: 15px;font-family: 宋体;color:#072;font-weight: normal;line-height: 150%;padding: 10px 0px 10px 0px;}

.p1 a{font-size: 12px;font-family: 宋体;color:#669;font-weight: normal;text-decoration: none;}
.p1 a:hover{background-color: #37a;color:white;}
.online{width: 265px;height: 267px;line-height: 19px;}
.online li{padding: 5px;}
.title{width: 265px;height: 17px;color: #666;}
.title a{font-size: 12px;font-family: 宋体;color:#37a;font-weight: normal;text-decoration: none;}
.title a:hover{background-color: #37a;color:white;}
.desc{width: 265px;height: 38px;color: #999;font-size: 12px;font-family: 宋体;padding-top: 5px;}


.albums{width: 350px;height: 407px;float: left;}
.albums li{width: 170px;height: 189px;float: left;padding-right: 5px;padding-bottom: 7px;}
.pic{width: 170px;height: 170px;}
.notes{width: 275px;height: 412px;float: right;}
.albums a{font-size: 12px;font-family: 宋体;color: #37a;text-decoration: none;}
.albums a:hover{background-color: #37a;color:white;}
span{font-size: 12px;font-family: 宋体;color: #999;}
.first{line-height: 20px;color: #666;}
.notes li{line-height: 20px;padding: 4px 0 4px 0;}
.notes a{color: #37a;text-decoration: none;}
.notes a:hover{background-color: #37a;color:white;};
/*东西*/
#dxMid{width: 950px;height: 825px;margin: 0 auto;}
#dxContent{width: 950px;height: 652px;margin: 0 auto;}
#guanggao{width: 950px;height: 115px;margin: 0 auto;padding-top: 23px}

#ContentA{width: 675px;height: 652px;float: left;}
#side1{width: 260px;height: 652px;float: right;}
#ContentLeft{width: 100px;float: left;height: 345px;height: 344px;}
#ContentMid{width: 550px;height: 624px;float: right;padding-top: 10px;}
.review-list{width: 280px;height: 450px;}
.Content{width: 280px;height: 60px;padding-top: 12px;}
.Content1{width: 180px;height: 60px;float: left;line-height: 20px;color: #6a6a6a;}

.title1 a{font-size: 14px;color: #a16b4e;text-decoration: none;line-height: 30px;}
.title1 a:hover{color: grey;}
.review-list li{margin: 0 0 30px 0;}
.ContentLeft-title{width: 100px;height: 24px;color:#7e4b2f;font-size:24px;font-family: 宋体;}

.ContentLeft-list li{padding: 5px 0 5px 0;}
.listname{font-size: 14px;text-decoration: none;color:#7e4b2f;line-height: 22px;}
.weibo{width: 100px;height: 77px;padding-top: 20px;}
.weiboA{margin-top: 15px;}
.weiboA a{color: #a16b4e;text-decoration: none;font-size: 12px;}
.weiboA a:hover{color: #7F4B2f;}
.ContentMidContent{width: 550px;height: 590px;margin-top: 10px;}
.ContentMidCLeft{width: 245px;height: 270px;float: left;}
.ContentMidCRight{width: 270px;height: 275px;float: right;}
.imagedesc{width: 245px;height: 81px;}
.story-headline{width: 245px;height:26px;margin-top: 15px;}
.story-text{width: 245px;height:45px;color: #6a6a6a;}
.story-title {float: left;font-size: 14px;margin-left: 10px;color: #7F4B2F;}
.story-price{float: right;font-size: 14px;color: #6a6a6a;}
.other-stories{float: left;width: 270px;height: 275px;}
.other-stories li{float: left;padding:0 5px 15px 15px;}
.osdesc{margin-top: 10px;}
.osdesc a{color: #a16b4e;text-decoration: none;font-size: 12px;padding-left: 10px;}
.osdesc a:hover{color: #7F4B2f;}
/*电影*/
#mvMid{width: 950px;height: 566px;margin: 0 auto;}
.name a{color: #27a;text-decoration: none;}
.name a:hover{color: white;background-color: #37a;}
.name1{color: #27a;}
.name1:hover{color: white;background-color: #37a;}
.movie{width: 100px;height: 69px;padding-top: 20px;}
.movieA{margin-top: 5px;}
.movieA a{color: #27a;text-decoration: none;font-size: 12px;}
.movieA a:hover{color: white;background-color: #37a;}
.moviepic{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");background-position: -350px 0;border-radius: 10px 10px 10px 10px;}
.mvMidContent{width: 550px;height: 500px;}
.mvMidContent li{float: left;padding-bottom: 40px;}
.haibaoDesc{line-height: 30px;}
.haibaoDesc a{color: #333;text-decoration: none;}
.haibaoDesc a:hover{color: white;background-color: #37a;}
.rating{width: 133px;height: 19px; }
.allstar20{width: 55px;height: 11px;background: url("css/image/midstars.gif");background-position: 0 -66px;float: left;}
.rating span{color: #f40;margin-left: 4px;}
.ticket-choice{border-radius: 3px;width: 75px;height: 23px;background-color:#1c8bd0;}
.ticket-choice a{color: white;text-decoration: none;margin: 5px 5px 5px 10px;display: inline-block;}

.mod{width:265px;height:168px; margin-bottom: 30px;}
.tags-list{display: block;width: 265px;height: 138px;}
.tags-list li{float: left;padding: 5px 25px 5px 0px;}
.tags-list a{font-size: 12px;color: #27a;text-decoration: none;}
.tags-list a:hover{color: white;background-color: #37a;}
.movie-charts{width: 265px;height: 304px;}
.movie-charts a{font-size: 12px;color: #27a;text-decoration: none;line-height: 20px;}
.movie-charts a:hover{color: white;background-color: #37a;}
.movie-charts li{margin: 3px 0 10px 0px;}
/*读书*/
#bkMid{width: 950px;height: 595px;margin:0px auto;}
.name2 a{color: #4a2f14;text-decoration: none;}
.name2 a:hover{color: white;background-color: #37a;}
.name3{color: #4a2f14;}
.name3:hover{color: white;background-color: #37a;}
.movie li{padding-bottom: 20px;}
.moviepic1{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");border-radius: 10px 10px 10px 10px;}
.moviepic2{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");background-position: -400px 0;border-radius: 10px 10px 10px 10px;}
.moviepic3{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");background-position: -200px 0;border-radius: 10px 10px 10px 10px;}
.movieB{margin-top: 5px;}
.movieB a{color: #4a2f14;text-decoration: none;font-size: 12px;}
.movieB a:hover{color: white;background-color: #37a;}
#ContentMid1{width: 535px;height: 559px;float: right;}
.ContentMid11{width: 535px;height: 256px;float: left;margin-bottom: 40px;}
.ContentMid12{width: 535px;height: 256px;float: left;}
.book-cate{width: 265px;height: 360px;}
.book-cateA{width: 265px;height: 51px;padding-top: 10px;}
.book-cateA li{float: left;padding: 0 5px 10px 0px;}
.book-cateA a{text-decoration: none;color: #614e31;font-size: 13px;}
.book-cateA a:hover{color: white;background-color: #37a;}
.cate-labe1{color: #999;}
.haibaoDesc1{padding: 20px 0 10px 0;}
.haibaoDesc1 a{color: #614e3c;text-decoration: none;font-size: 13px;}
.haibaoDesc1 a:hover{color: white;background-color: #37a;}
.rating1 span{color: #111;}
.ticket-choice1{border-radius: 3px;width: 75px;height: 23px;background-color:#999a95;margin-top: 3px;}
.ticket-choice1:hover{background-color: #614e31;}
.ticket-choice1 a{color: white;text-decoration: none;margin: 5px 5px 5px 10px;display: inline-block;}
.mvMidContent1 li{float: left;margin: 0px 20px 20px 10px;}
.mvMidContent1{width: 550px;height: 500px;}
.mvMidContent1 img{width: 100px;height: 150px;}
/*音乐*/
#musicMid{width: 950px; height: 586px;margin: 0px auto;}
.name4 a{color: #f38c00;text-decoration: none;}
.name4 a:hover{color: white;background-color: #37a;}
.name5{color: #555d53;}
.name5:hover{color: white;background-color: #37a;}
.moviepic3{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");border-radius: 10px 10px 10px 10px;background-position: -100px 0;}
.moviepic4{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");border-radius: 10px 10px 10px 10px;background-position: -50px 0;}
.movieC{margin-top: 5px;}
.movieC a{color: #555d53;text-decoration: none;font-size: 12px;}
.movieC a:hover{color: white;background-color: #37a;}
#ContentMid2{width: 535px;float: right;}
.ContentMid21{width: 535px;height: 386px;}
.ContentMid21 li{float: left;padding-bottom: 30px;}
.ContentMid22{width: 535px;height: 175px;}
.ContentMid22 li{float: left;padding-right: 40px;padding-left: 10px;}
.haibaoDesc11{padding: 15px 0 10px 0;}
.haibaoDesc11 a{color: #555d53;text-decoration: none;font-size: 13px;}
.haibaoDesc11 a:hover{color: white;background-color: #37a;}
.artist{padding-bottom: 5px;}
.artist a{color: #555d53;text-decoration: none;font-size: 13px;}
.artist a:hover{color: white;background-color: #37a;}
#musicside{width: 265px;height: 577px;float: right;}
.num{float: left;margin-left: 10px;color: #111;}
.mingxing{float: left;margin-right: 10px;}
.onlineContent li{padding-top: 5px;padding-bottom: 20px;}
/*小组*/
#groupMid{width: 950px;height: 554px;margin: 0px auto;}
#groupside{width: 265px;height: 554px;float: right;}
.name6 a{color: #007982;text-decoration: none;}
.name6 a:hover{color: white;background-color: #37a;}
.name7{color: #007982;}
.name7:hover{color: white;background-color: #37a;}
.moviepic5{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");border-radius: 10px 10px 10px 10px;background-position: -500px 0;}
.movieD{margin-top: 5px;}
.movieD a{color: #007982;text-decoration: none;font-size: 12px;}
.movieD a:hover{color: white;background-color: #37a;}
.ContentMid23{width: 535px;height: 500px;}
.titleA{width: 265px;height: 17px;color: #666;}
.titleA a{font-size: 12px;font-family: 宋体;color:007982;font-weight: normal;text-decoration: none;}
.titleA a:hover{background-color: #37a;color:white;}
.ContentMid23 li{float: left;}
.cate-labe2{width: 275px;}
.cate-labe2 a{color: #333;font-size: 14px;text-decoration: none;}
.cate-labe2 a:hover{background-color: #37a;color:white;}
/*同城*/
#eveMid{width: 950px;height: 341px;margin: 0px auto;}
#eveContent{width: 950px;height: 341px;margin: 0px auto;}
#eveContentA{width: 675px;height: 341px;float: left;}
.name8 a{color: #ec5303;text-decoration: none;}
.name8 a:hover{color: white;background-color: #37a;}
.name9{color: #643;}
.name9:hover{color: white;background-color: #37a;}
.moviepic7{width: 50px;height: 50px; background:url("css/image/app_icons_50_7.jpg");border-radius: 10px 10px 10px 10px;background-position: -100px 0;}
.ContentMid24{width: 535px;height: 320px;float: right;}
.ContentMid24 li{float: left;margin-bottom: 20px;}
.shuji{width: 70px;height: 90px;float: left;}
.Info{width: 168px;height: 115px;overflow: hidden;padding-left: 5px;}
.shuji1 a{color: #643;text-decoration: none;line-height: 1.45;font-size: 13px;}
.shuji1 a:hover{color: white;background-color: #37a;}
.datetime,.address,.follow{color: #666;line-height: 1.7;}
.book-cateB{width: 265px;height: 43px;padding-top: 10px;}
.book-cateB li{float: left;padding: 0 5px 10px 0px;}
.book-cateB a{text-decoration: none;color: #614e31;font-size: 13px;}
.book-cateB a:hover{color: white;background-color: #37a;}
#groupsideA{width: 265px;height: 341px;float: right;}
/*foooter*/
#footerPic{width: 950px;height: 90px;}
#kongbai{width: 950px;height: 40px;}
#footerContent{width: 950px;height: 86px;}
#footerContentA{width: 419px;height: 57px;float: left;}
#footerContentA  a{color:#37a;text-decoration: none;}
#footerContentA  a:hover{background-color: #37a;color:white;}
#footerContentB{width: 454px;height: 19px;float: right;}
#footerContentB  a{color:#37a;text-decoration: none;}
#footerContentB  a:hover{background-color: #37a;color:white;}